body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
/* CSS actual */
#sidebarMenu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: #343a40;
  transition: left 0.3s ease;
  z-index: 1050;
  box-shadow: 2px 0 5px rgba(219, 219, 219, 0.5);
}

#sidebarMenu.show {
  left: 0;
}

.sidebar-link {
  color: #ffffff;
  padding: 15px 20px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.sidebar-link:hover {
  background-color: #898c8f;
}

.hamburger {
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
}

.close-hamburger {
  font-size: 25px;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 15px;
}

.navbar {
  background-color: #898c8f;
  padding: 10px;
}

.navbar-brand {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.navbar-brand:hover {
  color: #d4d4d4;
}
.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2 {
  text-align: center;
  color: #333;
}
label {
  display: block;
  margin-top: 10px;
}
input,
select,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.button {
  width: 32%;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.button:hover {
  background-color: #0056b3;
}
.params {
  margin-top: 20px;
  padding: 20px;
  background-color: #e9ecef;
  border-radius: 5px;
}
.params .input-group {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.params .input-group input {
  width: 48%;
}
#mod {
  background-color: #e19a02;
}
#save {
  background-color: #2dae13;
}
#new {
  background-color: #0056b3;
}
.input-group {
  display: block;
}
